[user]
	name = Jason Long
	email = jason@jasonlong.me
  signingkey = 16A6ADCE72646D7B
[include]
	path = /Users/jason/.gitalias.txt
[push]
	default = current
	autoSetupRemote = true
[core]
  pager = ~/.config/delta-auto-theme.sh
	excludesfile = /Users/jason/.gitignore_global
  editor = nvim
[interactive]
  diffFilter = ~/.config/delta-auto-theme.sh --color-only
[delta]
  navigate = true  # use n and N to move between diff sections
	line-numbers = false
[merge]
  conflictstyle = zdiff3
[diff]
  colorMoved = default
  algorithm = histogram
[pull]
	rebase = true
[commit]
	gpgsign = true
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[init]
	defaultBranch = main
[column]
	ui = auto
[branch]
	sort = -committerdate
; [fetch]
; 	prune = true
; 	pruneTags = true
; 	all = true
[help]
	autocorrect = prompt
[merge "mergiraf"]
	name = mergiraf
	driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P -l %L
